{% extends 'base.html' %}

{% block content %}
 <div class="col align-items-center">
  <div class="card text-dark bg-light col text-center">
    <div class="card-body">
      <h1 class="card-title">{% block title %} UrlShortener {% endblock %}</h1>
      <p class="card-text">
          Small application to short and store your URL created using Flask and SQLAlchemy.</br>
      </p>
      <div class="row-cols-2">
      <a href="https://github.com/emp7yhead/url-shortener" class="btn btn-primary btn-lg ">Source Code</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}